In [11]:
import pandas as pd
import datetime
import sys

In [19]:
df1 = pd.read_csv("Jan2012-2018_3000.csv",header=0)
#weather = pd.read_csv("Weatherdata2016_2018.csv",sep='\t', header=0)

In [20]:
df1
df1['Total'] = df1.groupby(['localminute'])['dataid'].transform('sum')
df1['DateTime'] = [datetime.datetime.strptime(d, "%Y-%m-%d %H:%M:%S-%f") for d in df1["localminute"]]
df1['DateTime'] = df1['DateTime'].dt.floor('h')

In [14]:
tmp = df1.groupby('localminute')['dataid'].apply(set)
a0 = tmp[0] & tmp[0]
for i in tmp:
    a0 = a0 & i
print (a0)
df = df1[df1['dataid'].isin(a0)]
df['Total1'] = df.groupby(['localminute'])['dataid'].transform('sum')

{1153, 2818, 2945, 898, 2829, 2449, 2199, 2335, 2337, 545, 2864, 1464, 2233, 2242, 1103, 93, 861, 94, 871, 1642, 2925, 370, 890}

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [15]:
print (df['Total1'].unique()) #Should return exactly one value. Total1 <= min(df1.Total)
df2 = pd.read_csv("dataport-metadata.csv",header=0) #Metadata file from pecan street
#df 3 can be used for multiple data like house area and more. 
df3 = df2[df2['dataid'].isin(a0)] #Extracting data for the given 'dataids' from matadata
print (df3['city'])  #Checking cities of all the 'dataids'

[38160]
12     Austin
29     Austin
30     Austin
38     Austin
45     Austin
46     Austin
47     Austin
55     Austin
57     Austin
116    Austin
152    Austin
177    Austin
180    Austin
181    Austin
187    Austin
188    Austin
197    Austin
275    Austin
281    Austin
293    Austin
300    Austin
304    Austin
424    Austin
Name: city, dtype: object

In [16]:
del df['dataid']
df['TotalUsage'] = df.groupby(['DateTime'])['use'].transform('sum')
df = df.drop_duplicates(subset='DateTime')
df = df.reset_index(drop=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
df['Date']= df['DateTime'].dt.date
df['Time']= df['DateTime'].dt.time
df['Hour'] = df['DateTime'].dt.hour
df['Minute'] = df['DateTime'].dt.minute
df['Month'] = df['DateTime'].dt.month
df['Day'] = df['DateTime'].dt.day
df['Year'] = df['DateTime'].dt.year

In [18]:
df

,localminute,use,Total,DateTime,Total1,TotalUsage,Date,Time,Hour,Minute,Month,Day,Year
0,2013-01-01 00:00:00-06,0.398533,104819,2013-01-01 00:00:00,38160,17.282733,2013-01-01,00:00:00,0,0,1,1,2013
1,2013-01-01 01:00:00-06,0.659950,104819,2013-01-01 01:00:00,38160,14.222217,2013-01-01,01:00:00,1,0,1,1,2013
2,2013-01-01 02:00:00-06,0.564000,104819,2013-01-01 02:00:00,38160,13.289567,2013-01-01,02:00:00,2,0,1,1,2013
3,2013-01-01 03:00:00-06,0.900050,104819,2013-01-01 03:00:00,38160,10.627933,2013-01-01,03:00:00,3,0,1,1,2013
4,2013-01-01 04:00:00-06,0.444217,104819,2013-01-01 04:00:00,38160,10.555133,2013-01-01,04:00:00,4,0,1,1,2013
5,2013-01-01 05:00:00-06,0.789933,104819,2013-01-01 05:00:00,38160,11.857950,2013-01-01,05:00:00,5,0,1,1,2013
6,2013-01-01 06:00:00-06,0.933483,104819,2013-01-01 06:00:00,38160,13.008000,2013-01-01,06:00:00,6,0,1,1,2013
7,2013-01-01 07:00:00-06,0.297433,104819,2013-01-01 07:00:00,38160,13.912433,2013-01-01,07:00:00,7,0,1,1,2013
8,2013-01-01 08:00:00-06,0.461867,104819,2013-01-01 08:00:00,38160,17.870683,2013-01-01,08:00:00,8,0,1,1,2013
9,2013-01-01 09:00:00-06,0.698267,104819,2013-01-01 09:00:00,38160,21.021667,2013-01-01,09:00:00,9,0,1,1,2013
10,2013-01-01 10:00:00-06,0.273750,104819,2013-01-01 10:00:00,38160,23.014500,2013-01-01,10:00:00,10,0,1,1,2013
11,2013-01-01 11:00:00-06,0.654250,104819,2013-01-01 11:00:00,38160,21.207767,2013-01-01,11:00:00,11,0,1,1,2013
12,2013-01-01 12:00:00-06,1.012183,104819,2013-01-01 12:00:00,38160,18.942633,2013-01-01,12:00:00,12,0,1,1,2013
13,2013-01-01 13:00:00-06,1.535217,104819,2013-01-01 13:00:00,38160,25.239483,2013-01-01,13:00:00,13,0,1,1,2013
14,2013-01-01 14:00:00-06,2.968217,104819,2013-01-01 14:00:00,38160,23.621500,2013-01-01,14:00:00,14,0,1,1,2013
15,2013-01-01 15:00:00-06,0.382267,104819,2013-01-01 15:00:00,38160,22.733117,2013-01-01,15:00:00,15,0,1,1,2013
16,2013-01-01 16:00:00-06,0.855217,104819,2013-01-01 16:00:00,38160,21.540367,2013-01-01,16:00:00,16,0,1,1,2013
17,2013-01-01 17:00:00-06,2.024583,104819,2013-01-01 17:00:00,38160,25.959267,2013-01-01,17:00:00,17,0,1,1,2013
18,2013-01-01 18:00:00-06,0.808800,104819,2013-01-01 18:00:00,38160,26.123867,2013-01-01,18:00:00,18,0,1,1,2013
19,2013-01-01 19:00:00-06,4.485650,104819,2013-01-01 19:00:00,38160,26.352417,2013-01-01,19:00:00,19,0,1,1,2013
20,2013-01-01 20:00:00-06,1.429783,104819,2013-01-01 20:00:00,38160,28.263767,2013-01-01,20:00:00,20,0,1,1,2013
21,2013-01-01 21:00:00-06,1.309100,104819,2013-01-01 21:00:00,38160,26.217533,2013-01-01,21:00:00,21,0,1,1,2013
22,2013-01-01 22:00:00-06,0.579983,104819,2013-01-01 22:00:00,38160,22.579850,2013-01-01,22:00:00,22,0,1,1,2013
23,2013-01-01 23:00:00-06,0.000000,104819,2013-01-01 23:00:00,38160,15.439817,2013-01-01,23:00:00,23,0,1,1,2013
24,2013-01-02 00:00:00-06,0.155500,104819,2013-01-02 00:00:00,38160,14.711233,2013-01-02,00:00:00,0,0,1,2,2013
25,2013-01-02 01:00:00-06,0.000000,104819,2013-01-02 01:00:00,38160,13.023933,2013-01-02,01:00:00,1,0,1,2,2013
26,2013-01-02 02:00:00-06,0.586917,104819,2013-01-02 02:00:00,38160,12.857517,2013-01-02,02:00:00,2,0,1,2,2013
27,2013-01-02 03:00:00-06,0.499017,104819,2013-01-02 03:00:00,38160,12.408883,2013-01-02,03:00:00,3,0,1,2,2013
28,2013-01-02 04:00:00-06,0.446700,104819,2013-01-02 04:00:00,38160,12.759717,2013-01-02,04:00:00,4,0,1,2,2013
29,2013-01-02 05:00:00-06,0.704500,104819,2013-01-02 05:00:00,38160,13.245700,2013-01-02,05:00:00,5,0,1,2,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8845,2014-01-04 14:00:00-06,3.362967,189952,2014-01-04 14:00:00,38160,19.814183,2014-01-04,14:00:00,14,0,1,4,2014
8846,2014-01-04 15:00:00-06,0.406083,189952,2014-01-04 15:00:00,38160,18.346467,2014-01-04,15:00:00,15,0,1,4,2014
8847,2014-01-04 16:00:00-06,1.295333,189952,2014-01-04 16:00:00,38160,17.176433,2014-01-04,16:00:00,16,0,1,4,2014
8848,2014-01-04 17:00:00-06,3.212600,189952,2014-01-04 17:00:00,38160,24.931400,2014-01-04,17:00:00,17,0,1,4,2014
8849,2014-01-04 18:00:00-06,0.464333,192353,2014-01-04 18:00:00,38160,29.156050,2014-01-04,18:00:00,18,0,1,4,2014
8850,2014-01-04 19:00:00-06,1.858783,192353,2014-01-04 19:00:00,38160,27.375417,2014-01-04,19:00:00,19,0,1,4,2014
8851,2014-01-04 20:00:00-06,0.599233,192353,2014-01-04 20:00:00,38160,28.436483,2014-01-04,20:00:00,20,0,1,4,2014
8852,2014-01-04 21:00:00-06,3.717267,192353,2014-01-04 21:00:00,38160,24.627667,2014-01-04,21:00:00,21,0,1,4,2014
8853,2014-01-04 22:00:00-06,0.901783,192353,2014-01-04 22:00:00,38160,20.509700,2014-01-04,22:00:00,22,0,1,4,2014
8854,2014-01-04 23:00:00-06,0.618167,192353,2014-01-04 23:00:00,38160,19.010033,2014-01-04,23:00:00,23,0,1,4,2014
8855,2014-01-05 00:00:00-06,1.297750,192353,2014-01-05 00:00:00,38160,16.055717,2014-01-05,00:00:00,0,0,1,5,2014
8856,2014-01-05 01:00:00-06,0.402933,192353,2014-01-05 01:00:00,38160,14.562100,2014-01-05,01:00:00,1,0,1,5,2014
8857,2014-01-05 02:00:00-06,0.910983,192353,2014-01-05 02:00:00,38160,13.557317,2014-01-05,02:00:00,2,0,1,5,2014
8858,2014-01-05 03:00:00-06,0.503733,192353,2014-01-05 03:00:00,38160,12.609500,2014-01-05,03:00:00,3,0,1,5,2014
8859,2014-01-05 04:00:00-06,3.585050,192353,2014-01-05 04:00:00,38160,12.406633,2014-01-05,04:00:00,4,0,1,5,2014
8860,2014-01-05 05:00:00-06,0.184767,192353,2014-01-05 05:00:00,38160,13.286650,2014-01-05,05:00:00,5,0,1,5,2014
8861,2014-01-05 06:00:00-06,0.828017,192353,2014-01-05 06:00:00,38160,14.490967,2014-01-05,06:00:00,6,0,1,5,2014
8862,2014-01-05 07:00:00-06,0.170417,192353,2014-01-05 07:00:00,38160,16.454033,2014-01-05,07:00:00,7,0,1,5,2014
8863,2014-01-05 08:00:00-06,0.593083,192353,2014-01-05 08:00:00,38160,15.920883,2014-01-05,08:00:00,8,0,1,5,2014
8864,2014-01-05 09:00:00-06,0.399917,192353,2014-01-05 09:00:00,38160,15.559417,2014-01-05,09:00:00,9,0,1,5,2014
8865,2014-01-05 10:00:00-06,0.541283,192353,2014-01-05 10:00:00,38160,16.350683,2014-01-05,10:00:00,10,0,1,5,2014
8866,2014-01-05 11:00:00-06,0.767667,192353,2014-01-05 11:00:00,38160,18.597700,2014-01-05,11:00:00,11,0,1,5,2014
8867,2014-01-05 12:00:00-06,1.917150,192353,2014-01-05 12:00:00,38160,25.111700,2014-01-05,12:00:00,12,0,1,5,2014
8868,2014-01-05 13:00:00-06,0.412350,192353,2014-01-05 13:00:00,38160,28.064383,2014-01-05,13:00:00,13,0,1,5,2014
8869,2014-01-05 14:00:00-06,0.502550,192353,2014-01-05 14:00:00,38160,26.279267,2014-01-05,14:00:00,14,0,1,5,2014
8870,2014-01-05 15:00:00-06,1.104600,192353,2014-01-05 15:00:00,38160,27.447100,2014-01-05,15:00:00,15,0,1,5,2014
8871,2014-01-05 16:00:00-06,1.914600,192353,2014-01-05 16:00:00,38160,25.876550,2014-01-05,16:00:00,16,0,1,5,2014
8872,2014-01-05 17:00:00-06,2.111350,192353,2014-01-05 17:00:00,38160,29.190583,2014-01-05,17:00:00,17,0,1,5,2014
8873,2014-01-05 18:00:00-06,1.131417,192353,2014-01-05 18:00:00,38160,36.993917,2014-01-05,18:00:00,18,0,1,5,2014
8874,2014-01-05 19:00:00-06,1.364683,88718,2014-01-05 19:00:00,38160,35.340350,2014-01-05,19:00:00,19,0,1,5,2014

In [66]:
#del weather["Unnamed: 0"]
#del weather["Index"]
weather = weather.rename(columns={'DATE': 'DateTime'})

In [75]:
weather['DateTime'] = [datetime.datetime.strptime(d, "%Y-%m-%d %H:%M:%S") for d in weather["DateTime"]]

In [81]:
maindf= pd.merge(df, weather, on="DateTime")

In [10]:
maindf.to_csv("Main_Raw.csv", sep=',', encoding='utf-8')